
<link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap/css/bootstrap-theme.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap/css/font-awesome.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Script/jquery-3.2.6.min.js")"></script>
<script src="@Url.Content("~/Script/jquery.unobtrusive-ajax.min.js")"></script>
<script src="@Url.Content("~/Script/bootstrap/js/bootstrap.min.js")"></script>
<script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>

@model GameStore.Web.Models.GameViewModel
@using (Ajax.BeginForm("Add", "Game", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))
{
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                    @Html.TextBoxFor(m => m.GameName, new { @class = "form-control", @placeholder = "Name" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @placeholder = "Price" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    @Html.TextBoxFor(m => m.GameDescription, new { @class = "form-control", @placeholder = "Description" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
                    @Html.DropDownListFor(m => m.CategoryId, ViewBag.CreateCategory as SelectList, new { @class = "form-control"})
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    @Html.TextBoxFor(m => m.CPU, new { @class = "form-control", @placeholder = "CPU" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    @Html.TextBoxFor(m => m.OperationSystem, new { @class = "form-control", @placeholder = "OperationSystem" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    @Html.TextBoxFor(m => m.RAM, new { @class = "form-control", @placeholder = "RAM" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    @Html.TextBoxFor(m => m.VideoCard, new { @class = "form-control", @placeholder = "VideoCard" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
        <button type="submit" class="btn btn-primary" name="cmd"><i class="fa fa-check"></i>&nbsp;Save</button>
    </div>
}
